<div (mouseenter)="showInfo()" (mouseleave)="hideInfo()">
    <mat-slide-toggle     
        [checked]="config.enabled" 
        (change)="enabledChanged($event)">
        <h4>{{ config.name }}</h4>
    </mat-slide-toggle>
    <br>
    <small>Penetration: {{ config.amounts[config.selected].value }}</small>
    <div *ngIf="hasOption()">
      <br>
      <div class="btn-group special">
          <button
            [ngClass]="{active: config.selected === i}"        
            *ngFor="let amount of config.amounts; let i = index"
            class="btn btn-secondary"
            (click)="updateSelection(i)">{{ amount.name }}</button>
        </div>
    </div>
    <button *ngIf="showInfoIcon" class="position-top-right" (click)="showInfoDialog()" mat-icon-button>
        <span style="font-size: 20px" class="glyphicon glyphicon-info-sign"></span>
    </button>
    
</div>
