/* Strech of the button group */
.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.special .btn:focus {
  outline: none;
}

/* Checkbox positioning */
.position-top-right {
  position: absolute;
  right: 5px;
  top: 5px;
}