<h1 mat-dialog-title>Info</h1>
<div mat-dialog-content>
  <p>{{ data.description }}</p>
</div>
<div *ngIf="showCauses()">
  Applied by:
  <ul>
    <li *ngFor="let cause of data.causedBy">{{ cause }}</li>
  </ul>
</div>