<app-nav-bar [AppName]=title (PenetrationTypeChanged)="onPenetrationTypeChanged($event)"></app-nav-bar>
<div class="container">

  <div class="col-md-6 col-sm-12">
    <span class="resource-select">Resource: 
      <mat-form-field>
        <mat-select (valueChange)="onPenetrationTypeChanged($event)"
                    [(value)]="selectedPenetrationSource">
          <mat-option value="magicka">Magicka</mat-option>
          <mat-option value="stamina">Stamina</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
      
    <ul class="list-group">
      <app-penetration-source        
        *ngFor="let source of sources; let i = index"
        class="list-group-item" 
        [config]=source
        (updated)="onDataUpdated(i)">
      </app-penetration-source>
    </ul>
  </div>
  <div class="col-md-6 visible-md visible-lg">
    <h2>Resulting Penetration</h2>
    <h3>Typical boss armor: {{ typicalBossPenetration }}</h3>
    <h3>Total penetration: {{ totalPenetration }}</h3>
    <h3>Remaining boss armor: {{ remainingBossArmor }}</h3>
    <h3 *ngIf="totalPenetration > typicalBossPenetration">Overpenetration: <span style="color: red">{{ totalPenetration - 18200 }}</span></h3>
  </div>  
</div>
<div class="visible-sm visible-xs center-display">
  <span ><b>{{ totalPenetration }} / {{ typicalBossPenetration }}</b></span>
</div>
