.center-display {
    position: fixed;
    bottom: 0;
    right: 30%;
    left: 30%;
    padding: 5pt;
    padding-top: 7pt;
    background: #000000b2;
    background-color: #000000b2;
    color: #fff;
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    text-align: center;
    z-index: 1000000;
}